@import "./common";

.detail-title{
  height: 1.16rem;
  background: #e20;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-size: .32rem;
  span{
    display: inline-block;
    width: .6rem;
    height: .6rem;
    background: url("./images/back.png") no-repeat center;
    background-size: 100%;
  }
}
.detail-top{
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #e20;
  opacity: .5;
  .detail-top-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(.12rem);
    filter: blur(.12rem);
    z-index: -1;
    img{
      width: 100%;
      height: 100%;
      opacity: .7;
    }
  }
  .detail-mes{
    display: -webkit-flex;
    display: flex;
    margin: 0 .2rem;
    overflow: hidden;
    .detail-mes-img{
      width: 2rem;
      height: 2rem;
      border: .02rem solid #fff;
      margin: .3rem 0;
      img{
        width: 100%;
      }
    }
  }
  .detail-mes-text{
    width: 4.8rem;
    margin: .3rem 0 .3rem .3rem;
    font-size: .24rem;
    color: #fff;
    overflow: hidden;
    h4{
      width: 100%;
      font-size: .36rem;
      @include ellips();
    }
    p{
      width: 100%;
      @include ellips(3);
    }
  }
}
.detail-all{
  border-bottom: .02rem solid #ccc;
  padding: .3rem 0;
  font-size: .32rem;
  span{
    margin-left: .4rem;
    padding-left: .5rem;
    background: url("./images/play.png") no-repeat left center;
    background-size: .4rem;
  }
}
.van-cell.detail-item::after{
  right: .3rem;
}
.detailItemCur{
  span, h5, h6{
    color: #e20;
  }
}
.detail-item .van-cell__value{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  span{
    font-size: .36rem;
    align-self: center;
    margin-right: .4rem;
  }
  h5{
    font-size: .32rem;
  }
}
